
*{
    font-family: monospace;
}
body{
    background-color: pink;
}
.slot-number {
    font-size: 100px;
    display: flex;
    flex-direction: row;
}
.message {
    text-align: center;
    font-size: xx-large;
    color: red;
}
.center {
    text-align: center;
}
.lever {
    margin-top: 5px;
}
table.center {
    margin-left: auto;
    margin-right: auto;
}

box-sizing: border-box;
display: flex;
flex-direction: row;